* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card-container-Eco {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Default: 4 columns */
  grid-template-rows: repeat(2, auto); /* 2 rows */
  gap: 20px;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

/* Responsive for tablets and smaller screens */
@media screen and (max-width: 768px) {
  .card-container-Eco {
      grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
}

/* Responsive for mobile screens */
@media screen and (max-width: 480px) {
  .card-container-Eco {
      grid-template-columns: repeat(1, 1fr); /* 1 column */
  }
}

.card-Eco {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  
}

.card-Eco:hover {
  transform: translateY(-5px);
}

.card-icon-Eco {
  width: 40px;
  margin-bottom: 10px;
  
}

p {
  font-size: 14px;
  color: #333;
  line-height: 1.5;
}
